.static-input-wrapper {
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  background-color: var(--bg--primary);
  padding: 7px 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-fn);
  transition-property: border;
  cursor: text;
}

.static-input-wrapper:focus-within {
  border-color: var(--focus-input-border-color);
}

.static-input-wrapper__el-box {
  display: flex;
  align-items: center;
}
