.base-input {
  font-family: sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: text;
  flex-grow: 1;
}

.base-input__input-wrapper {
  padding-top: calc(var(--input-raised-label-fz) * var(--line-height));
  transform: translateY(0.5em);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: var(--default-transition-duration);
  display: flex;
  align-items: center;
  width: 100%;
}

.base-input__label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition-property: top, transform, font-size;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-fn);
  line-height: var(--line-height);
}

.base-input__el-box {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.base-input__el-box_right {
  transform: translateY(0.5em);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-fn);
}

.base-input:has(input:not(:placeholder-shown)) > .base-input__label,
.base-input:has(input:focus) > .base-input__label {
  top: 0;
  transform: translateY(0);
  font-size: var(--input-raised-label-fz);
}

.base-input__input-wrapper:has(input:not(:placeholder-shown)),
.base-input__input-wrapper:has(input:focus),
.base-input:has(input:not(:placeholder-shown)) > .base-input__el-box_right,
.base-input:has(input:focus) > .base-input__el-box_right {
  transform: translateY(0);
  opacity: 1;
}

.base-input__input {
  border: none;
  outline: none;
  font: inherit;
  padding: 0;
  flex-grow: 1;
  background-color: transparent;
  line-height: var(--line-height);
}
