.input-wrapper {
  outline: none;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  padding: 3px 10px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-fn);
  transition-property: border;
}

.input-wrapper:focus-within {
  border-color: var(--focus-input-border-color);
}

.input-wrapper__el-box {
  display: flex;
  align-items: center;
}
